
/* CSS Variables */

:root { 
  /* Colors  ------------------------------------------------------*/
  --link-text-color-on-hover: #0097A7;
  --link-bg-on-hover: #C5E1A5;
  --header-color: #F1F8E9;

  /* Primary */
  --primary-50: rgba(96%,98%,93%,1.00);
  --primary-100: rgba(89%,94%,82%,1.00);
  --primary-200: rgba(81%,90%,71%,1.00);
  --primary-300: rgba(73%,86%,58%,1.00);
  --primary-400: rgba(67%,83%,47%,1.00);
  --primary-500: rgba(61%,79%,36%,1.00);
  --primary-600: rgba(55%,74%,33%,1.00);
  --primary-700: rgba(48%,67%,28%,1.00);
  --primary-800: rgba(40%,60%,24%,1.00);
  --primary-900: rgba(25%,48%,16%,1.00);

  /* Accent */
  --accent-50: rgba(90%,97%,98%,1.00);
  --accent-100: rgba(75%,93%,96%,1.00);
  --accent-200: rgba(56%,89%,93%,1.00);
  --accent-300: rgba(35%,85%,91%,1.00);
  --accent-400: rgba(14%,81%,88%,1.00);
  --accent-500: rgba(0%,78%,86%,1.00);
  --accent-600: rgba(0%,73%,80%,1.00);
  --accent-700: rgba(0%,65%,71%,1.00);
  --accent-800: rgba(0%,58%,63%,1.00);
  --accent-900: rgba(0%,45%,47%,1.00);

  /* Shadows */
  --dp1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --dp2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --dp-transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

/* Global Styles */

html {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.inventory-page {
  margin: 0 auto;
}

.logo {
  height: 100px;
  width: auto;
}

nav .btn {
}


nav {
  margin-left: auto;
}

nav .decor-outline {
  padding: 8px 16px;
  font-size: 13.82pt;
  letter-spacing: 0.25pt;
  font-weight: normal;
  color: var(--primary-700);
  text-decoration: none;
  transition: var(--dp-transition);
  background-color: var(--primary-50);
  border-radius: 5px;
  border: 1px solid var(--primary-200);
}

.decor-outline:hover {
  color: var(--primary-500);
}


nav .decor {
  padding: 8px 16px;
  font-size: 13.82pt;
  letter-spacing: 0.25pt;
  font-weight: normal;
  margin-right: 8px;
  color: white;
  text-decoration: none;
  transition: var(--dp-transition);
  background-color: var(--primary-600);
  border-radius: 5px;
}

.decor:hover {
  background-color: var(--primary-500);
  box-shadow: var(--dp1);
}

nav .selected-nav, .selected-nav:hover {
  background-color: var(--primary-400);
  box-shadow: none;
  color: var(--primary-600);
}

.logout {
  margin: 0 10px;
  padding: 8px 16px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
  color: black;
  text-decoration: none;
  transition: 0.15s ease-in-out;
  background-color: #AED581;
  border: 1px solid #AED581;
  border-radius: 3px;
}

.logout:hover {
  background-color:#C5E1A5;
  color: var(--link-text-color-on-hover);
}

header {
  background-color: #fff;
  border-bottom: 1px solid var(--primary-50);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nav-wrap {
  max-width: 1100px;
  height: 48px;
  padding: 8px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav-wrap .img-container img {
  width: 48px;
  margin-right: 20px;
}

.nav-wrap h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: var(--primary-700);
  padding: 0;
  font-size: 24pt;
  margin: 0;
  letter-spacing: 0rem;
}

.nav-wrap h2 {
  margin: 5px 0 0 23px;
  padding: 0;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
}

.items-list-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-card {
  font-family: 'Open Sans', sans-serif;
  width: 150px;
  margin: 0 10px 30px;
  color: #000000de;
  background-color: #fafafa;
  font-size: 13.82px;
  letter-spacing: 0.25px;
  border: none;
  box-shadow: var(--dp1);
}

.item-card p {
  text-align: center;
}

.item-card:hover {
  box-shadow: var(--dp2);
}

.item-card:hover .item-description {
  background-color: #C5E1A5;
  color: var(--primary-900);
}

.item-card:hover img {
  filter: brightness(1.09);
}

.item-card:hover p {
  color: var(--primary-900);
}

/* if item is OUT OF STOCK */

.item-card-OUT {
  width: 150px;
  margin: 0 10px 30px;
  border: 5px solid red;
  border-radius: 3px;
  transition: 0.15s ease-in-out;
}

.item-card-OUT p {
  text-align: center;
  font-size: 1.6rem;
  margin: 0 0 4px;
  color: rgb(25, 26, 25);
  transition: 0.15s ease-in-out;
}

.item-card-OUT:hover {
  transform: scale(1.02);
}

.item-card-OUT:hover .item-description {
  transform: translateY(-2px);
  background-color: var(--link-bg-on-hover);
  border-radius: 0;
}

.item-card-OUT:hover .item-list-image-OUT {
  filter: brightness(0.9);
}

.item-card-OUT:hover p {
  color: var(--primary-900);
}

.item-description {
  padding: 10px;
  margin: 0 auto;
  cursor: pointer;
}

.quantity {
  font-size: 21px;
  font-weight: 700;
}

.quantity-OUT {
  font-size: 2.0rem;
  color: red;
}

.item-card {
  width: 150px;
  border-radius: 3px;
  cursor: pointer;
  transition: var(--dp-transition);
}

.item-card .image-container {
  width: 100%;
  height: 150px;
  transition: 0.15s ease-in-out;
  overflow: hidden;
  object-fit: cover;
}

.item-card .image-container img {
  width: 100%;
  height: 100%;
  object-position: center;
  display: block;
  object-fit: cover;
}

.item-list-image-OUT {
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.image-wrapper img {
  width: 400px;
  height: auto;
  border-radius: 3px;
  border: 1px solid rgb(185, 185, 185);
}

/* Item forms for adding or editing */

.form-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.form-wrapper h2 {
  margin: 5px 0 0 23px;
  padding: 0;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
}

.item-form {
  display: flex;
  flex-direction: column;
  box-shadow: 0.2rem 0.2rem 0.2rem #c7c8ce;
  background-color: #EFF9F0;
  border-radius: 3px;
  width: 500px;
  margin: 30px auto;
  padding: 30px
}

.item-input {
  margin: 10px;
  border: none;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.2rem;
}

.item-input[type=submit] {
  font-size: 1.2rem;
  padding:15px 15px; 
  background:#2e964f;
  color: white;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  transition: 0.1s ease-in-out;
}

.item-input[type=submit]:hover {
  background-color: #125226;
  color: white;
}

.edit-button {
  font-size: 1.2rem;
  padding:15px 10px; 
  background:#2e964f;
  color: white;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  transition: 0.1s ease-in-out;
}

.edit-button:hover {
  background-color: #125226;
  color: white;
}

label {
  font-size: 1.2rem;
}

/* individual item view */

.item-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-title-wrapper h2 {
  margin: 5px 10px 10px 5px;
  padding: 0;
  font-size: 2.0rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  text-transform: capitalize;
}

.item-title-wrapper h4 {
  margin: 10px;
  padding: 0;
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
}

.update-button {
  font-size: 1.6rem;
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid rgb(36, 90, 190);
  color: rgb(36, 90, 190);
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.7px;
  transition: 0.1s ease-in-out;
}

.update-button:hover {
  background-color: rgb(225, 235, 255);
  border: 1px solid (36, 90, 190);
}

.delete-button {
  font-size: 1.6rem;
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid rgb(238, 23, 51);
  color: rgb(238, 23, 51);
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.7px;
  transition: 0.1s ease-in-out;
}

.delete-button:hover {
  background-color: rgb(255, 223, 227);
  border: 1px solid (36, 90, 190);
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px;
  height: 120px;
  justify-content: space-between;
}

.quantity-modifier {
  display: flex;
  align-items: center;
}

.quantity-modifier button {
  font-size: 2rem;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(49, 206, 109);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.7px;
  transition: 0.1s ease-in-out;
}

.quantity-modifier button:hover {
  background-color: rgb(37, 146, 79);
}

.select {
  font-size: 1.2rem;
  margin: 9px;
}

.category {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  color: #000000de;
  background-color: #0000001f;
  margin: 5px 5px;
  padding: 5px 12px;
  font-size: 13.82px;
  letter-spacing: 0.25px;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  transition: 0.1s ease-in-out;
}

.category:hover {
  background-color: #C5E1A5;
  color: var(--primary-900);
}
.category-active {
  background-color: #B2C89F;
  color: var(--primary-900);
}

.category-active:hover { 
  background-color: #B2C89F;
  color: var(--primary-800);
}

.categories {
  max-width: 900px;
  margin: 15px auto 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


/* Snackbar */

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 500px; /* Set a default minimum width */
  margin-left: -250px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 10px 22px 10px 22px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  font-size: 1.6rem;
}

#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbaradd {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 300px; /* Set a default minimum width */
  margin-left: -150px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 5px 22px 5px 22px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  font-weight: normal;
}

#snackbaradd.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* Mobile Styles */

@media (max-width: 1010px) {
  nav {
    display: flex;
    margin: 20px auto 20px auto;
  }

  nav .decor {
    margin: 0 10px 0 10px;
    padding: 10px 20px 10px 20px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
    color: black;
    text-decoration: none;
    transition: 0.10s ease-in-out;
    background-color: rgb(238, 234, 226);
    border-radius: 3px;
  }

  nav .decor:hover {
    background-color: var(--link-bg-on-hover);
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border: none;
    color: var(--link-text-color-on-hover);
  }

  nav .selected-nav {
    background-color: var(--link-bg-on-hover);
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border: none;
    color: var(--link-text-color-on-hover);
  }

  .logout {
    margin: 0 10px 0 10px;
    padding: 10px 20px 10px 20px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
    color: rgb(180, 137, 51);
    text-decoration: none;
    transition: 0.15s ease-in-out;
    background-color: var(--header-color);
    border: 1px solid rgb(180, 137, 51);
    border-radius: 3px;
  }

  .logout:hover {
    background-color:rgb(255, 251, 243)
  }

  header {
    background-color: var(--header-color);
  }
  .nav-wrap {
    max-width: 1100px;
    height: 280px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .nav-wrap .img-container img {
    width: 125px;
    margin: 0 auto;
  }

  .nav-wrap h1 {
    text-align: center;
    margin: 10px 0 0 0px;
    padding: 0;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    font-weight: normal;
  }

  .nav-wrap h2 {
    text-align: center;
    margin: 10px 0 0 0px;
    padding: 0;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
  }
}

@media (max-width: 650px) {
  nav {
    display: flex;
    flex-direction: column;
    margin: 20px auto 20px auto;
  }

  nav .decor {
    text-align: center;
    margin: 5px 10px 5px 10px;
    padding: 10px 40px 10px 40px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
    color: black;
    text-decoration: none;
    transition: 0.10s ease-in-out;
    background-color: rgb(238, 234, 226);
    border-radius: 3px;
  }

  nav .decor:hover {
    background-color: var(--link-bg-on-hover);
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border: none;
    color: var(--link-text-color-on-hover);
  }

  nav .selected-nav {
    background-color: var(--link-bg-on-hover);
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border: none;
    color: var(--link-text-color-on-hover);
  }

  .logout {
    margin: 10px 10px 0 10px;
    padding: 10px 20px 10px 20px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
    color: rgb(180, 137, 51);
    text-decoration: none;
    transition: 0.15s ease-in-out;
    background-color: var(--header-color);
    border: 1px solid rgb(180, 137, 51);
    border-radius: 3px;
    width: 264px;
  }

  .logout:hover {
    background-color:rgb(255, 251, 243)
  }

  header {
    background-color: var(--header-color);
  }
  .nav-wrap {
    max-width: 650px;
    height: 370px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .nav-wrap h1 {
    text-align: center;
    margin: 0px 0 0 0px;
    padding: 0;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    font-weight: normal;
  }

  .nav-wrap h2 {
    text-align: center;
    margin: 0px 0 0 0px;
    padding: 0;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
  }

  /* Mobile form */

  .form-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto;
    justify-content: center;
  }
  
  .form-wrapper h2 {
    margin: 5px 0 0 23px;
    padding: 0;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
  }
  
  .item-form {
    display: flex;
    flex-direction: column;
    box-shadow: 0.2rem 0.2rem 0.2rem #c7c8ce;
    background-color: #EFF9F0;
    border-radius: 3px;
    width: 80%;
    margin: 30px auto;
    padding: 30px
  }
  
  .item-input {
    margin: 10px;
    border: none;
    padding: 10px;
    border-radius: 3px;
    font-size: 1.2rem;
  }
  
  .item-input[type=submit] {
    font-size: 1.2rem;
    padding: 15px 15px; 
    background:#2e964f;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    transition: 0.1s ease-in-out;
  }
  
  .item-input[type=submit]:hover {
    background-color: #125226;
    color: white;
  }
  
  .edit-button {
    font-size: 1.2rem;
    padding:15px 10px; 
    background:#2e964f;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    transition: 0.1s ease-in-out;
  }
  
  .edit-button:hover {
    background-color: #125226;
    color: white;
  }
  
  label {
    font-size: 1.2rem;
  }

  
}
